
<div class="header">
    <div class="layout"></div>
 <!-- absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]  text-[white] text-[50px] -->
    <div class=" el-content ">
        <p class="tracking-widest">Good Times</p>
        <p style="  font-family: 'Crafty Girls', cursive;">Better Coffee</p>
    </div>
</div>
<div class="flex bg-[#f5f1e8] justify-center text-center items-start py-[44px]">

    <section class="">
    <h1 class="text-[35px] tracking-widest font-[500]">serving coffee everyday</h1>
        <h3 class="font-[700] text-[#945c44]">DownTown</h3>
        <p class="pt-5 text-[#945c44]">1030 Washington Street</p>
        <p class="text-[#945c44]">Monday–Thursday: 7am–2pm</p>
        <p class="text-[#945c44]">Friday–Sunday: 7am–4pm</p>
    </section>

</div>